// Font poppins

@font-face {
  src: url("~@/assets/fonts/Poppins-Bold.otf");
  font-family: "Poppins-Bold";
}

@font-face {
  src: url("~@/assets/fonts/Poppins-ExtraLight.otf");
  font-family: "Poppins-ExtraLight";
}

@font-face {
  src: url("~@/assets/fonts/Poppins-Italic.otf");
  font-family: "Poppins-Italic";
}

@font-face {
  src: url("~@/assets/fonts/Poppins-Light.otf");
  font-family: "Poppins-Light";
}

@font-face {
  src: url("~@/assets/fonts/Poppins-Regular.otf");
  font-family: "Poppins-Regular";
}

@font-face {
  src: url("~@/assets/fonts/Poppins-Medium.otf");
  font-family: "Poppins-Medium";
}

@font-face {
  src: url("~@/assets/fonts/Poppins-SemiBold.otf");
  font-family: "Poppins-SemiBold";
}
