@import "./_fonts.scss";

$color-white: #ffffff;
$color-white-two: #f2f2f2;
$font-poppins-bold: "Poppins-Bold";
$font-poppins-extra-light: "Poppins-ExtraLight";
$font-poppins-italic: "Poppins-Italic";
$font-poppins-light: "Poppins-Light";
$font-poppins-regular: "Poppins-Regular";
$font-poppins-medium: "Poppins-Medium";
$font-poppins-semi-bold: "Poppins-SemiBold";
