@import "../utils/_variables.scss";
@import "../utils/_animation.scss";

.question {
  &__image-top {
    position: absolute;
    top: -4.5rem;
    right: 0;
    z-index: 50;
  }
  &__content,
  &__loader {
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
  }
}
